
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,b,img,i,div,p,input,ul,li,ol,dl,dd,dt,span,strong,em,textarea,body{
  font-style:normal;
  outline:none;
  resize:none;
  margin:0;
  padding:0;
}

label{
  margin:0;
  padding:0;
}
