$white:#fff;
$black:#000;
$grayLBg:#f5f5f5;
$grayBg:#EBEBEB;
$grayDBg:#D2D1D1;
$grayBorder:#b3b3b3;
$grayD:#333;
$gray:#666;
$grayL:#999;
$orange:#FF8700;
$red:#E12D2D;
$green:#22b591;
$blueD:#2A3542;
$blue:#5AA3DF;
$blueD:#00205B;
$blueL:#1fd8d2;
$blackBg:#1D2939;

$zIndex-page:1;
$zIndex-mask:2;
$zIndex-component:10;
$zIndex-modal:100;
$zIndex-max:1000;

$bg:$white;
$baseFC:$grayD;
$commonBg:#fff;
$btnFC:$gray;
$btnFontColor:$baseFC;
$activeFC:$orange;
$rowHeight:40px;
$paddingX:30px;
$paddingY:20px;
$borderColor:#DDDDDD;
$remarkFC:#ccc;
$themeColor:$orange;
$lightThemeColor:$blue;

$fontSize-s:12px;
$fontSize-m:14px;
$fontSize-l:16px;
$fontSize-xl:18px;
$fontSize-xxl:20px;
$fontSize-max:36px;
